<!DOCTYPE html>
<html>
  <head>
    <title><%="Welcome to Chatter! - Connect With Friends Now!"%></title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>

    <%= render 'layouts/header' %>

    <%= form_tag(users_path, :method => "get", class: "navbar-form", id: "search-form") do %>
    <div class="container">
      <%= text_field_tag :search, params[:search], class: "span2", placeholder: "Search Users" %>
      <!-- In order to have the "search" icon int the button, we need to use plain HTML instead 
           of using a Rails form helper -->
      <button class="btn" type="submit"><i class="icon-search"></i></button>
    </div>
    <% end %>

    <br></br>

    <div class="container">
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "alert alert-#{key}") %>
      <% end %>
      <%=yield%>
      <%= render 'layouts/footer' %>
    </div>

  </body>
</html>